/MongoDbWithAspDotNetApi/.vs/
/MongoDbWithAspDotNetApi/bin/
/MongoDbWithAspDotNetApi/obj/
/.vs/
/bin/
/obj/
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/MongoDbDemo.AssemblyInfo.cs
/obj/Debug/net7.0/MongoDbDemo.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/MongoDbDemo.GlobalUsings.g.cs
/obj/Debug/net7.0/MongoDbWithAspDotNetApi.AssemblyInfo.cs
/obj/Debug/net7.0/MongoDbWithAspDotNetApi.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/MongoDbWithAspDotNetApi.GlobalUsings.g.cs
/obj/Debug/net7.0/MongoDbWithAspDotNetApi.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net7.0/MongoDbWithAspDotNetApi.csproj.BuildWithSkipAnalyzers
/obj/Debug/net7.0/MongoDbWithAspDotNetApi.csproj.CopyComplete
/obj/Debug/net7.0/MongoDbWithAspDotNetApi.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/staticwebassets/msbuild.build.MongoDbWithAspDotNetApi.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.MongoDbWithAspDotNetApi.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.MongoDbWithAspDotNetApi.props
/obj/Debug/net7.0/staticwebassets.build.json
/obj/MongoDbDemo.csproj.nuget.dgspec.json
/obj/MongoDbDemo.csproj.nuget.g.props
/obj/MongoDbDemo.csproj.nuget.g.targets
/obj/MongoDbWithAspDotNetApi.csproj.nuget.dgspec.json
/obj/MongoDbWithAspDotNetApi.csproj.nuget.g.props
/obj/MongoDbWithAspDotNetApi.csproj.nuget.g.targets
/obj/project.assets.json
